/* Navbar */
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    color: #fff;
}

.bg-color-body{
    background-color: #fff;
}

.text-operational{
    font-family: 'Nunito', sans-serif;
    color: #48CBA5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.text-pegasus{
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.text-pegasus-sub{
    color : #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.icon-size{
    width: 14px;
    margin-right: 12px;
}

.nav-tabs { 
    --bs-nav-tabs-link-active-border-color: #b30000 ;
    --bs-nav-tabs-border-color: #b30000;
    
 }

 /* button { */
    /* border-radius: 20px; */
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
/* } */

.icon-size-next{
    width: 14px;
    margin-left: 12px;
}

footer {
    /* position:absolute;    */
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* font-weight: 500; */
    font-size: 18px;
    bottom:0;
    width:100%;
    /* height:60px; */
    /* background:#6cf; */
 }

.text-renge{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-top : 10px;
}

.top{
    margin-top : 10px;
}

.bottom{
    margin-top : 10px;
}

.text-range-footer{
    color: #000;
    font-weight: 600;
    color: #000; 
    font-size: 17.205px;
    font-style: normal; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.text-paggination{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.bs-example{
    margin: 100px;
}

footer {
    position:fixed;
    bottom:0;
}

.text-footer{
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-style: normal; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.text-size{
    margin-top: 50px;
}

.text-range-footer-link{
    color: #BE1622; 
    padding-right: 20px; 
    font-size: 17.205px; 
    font-style: normal; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.judul{
    /* font-family: 'Nunito', sans-serif; */
    /* position: absolute; */
    /* width: 253px; */
    /* height: 40px; */
    /* left: 88px; */
    /* top: 136px; */
    /* font-weight: 900; */
    /* font-size: 32px; */
    /* line-height: 125%; */
    /* identical to box height, or 40px */


    /* Black */

    color: #262626;
}

.check_icn{
    background-color: #000;
}

.operational{
    height: 70px; 
    text-align: center;
    background: #BE1622;
    border-radius: 12px;

    /* width: 651px; */
    height: 93px;
    color: white; font-size: 25px;
    /* left: 394.5px; */
    /* top: 232px; */
}

.tombol{
    
    text-transform: capitalize;
    border-radius: 40px;
    background-color: rgba(0, 123, 255, 1);
    margin-right: 63px;
    color: rgba(255, 255, 255, 1);
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 14px;
    padding-bottom: 14px;
    size: 18px;
    /* font-family: 'Plus Jakarta Sans'; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* font-style: normal; */
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 18px;
    
}

.bg-color-merah{
    background-color: #BE1622;
}

.color-merah{
    color: #BE1622;
}

.bg-color-abu-abu{
    background-color: #565656;
}

.color-abu-abu{
    color: #BE1622;
}

.icon-tambah{
    color: #fff; 
    border-color: #fff; 
    border-radius: 2px; 
    font-size: 8px; 
    size: 30%;
    font-family: 'Nunito', sans-serif;
    

}

.card-grafik-api{
    background-color:#BE1622; 
    color: white;
}

.bg-color-biru{
    background-color: #007bff;
}

.text-contact-info{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center; 
    font-size: 16px; 
    color: #565656; 
    font-weight: 500;
    margin-top: 10px;
}

.logo-company{
    /* position: absolute; */
    /* width: 247.8px; */
    height: 74.76px;
    margin-left: 43.01px;
    top: 24px;
}

.color-biru{
    color: #007bff;
}

.style-footer {
    width: 100%;
    /* height: 50px; */
    /* padding-left: 10px; */
    line-height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
}

/* .tombol{
    text-transform: uppercase;
    border-radius: 40px;
} */

.margin-text-judul{
    margin-top: 0px;
    font-weight: 500;
    font-size: 36px;
}

.text-judul {
    /* text-shadow: 3px 2px 1px grey; */
    font-size: 30px;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    /* border: 1px dashed grey; */
    /* border: 1px solid grey; */
    /* background-color: gray; */
    color: #fff;
    
    margin-top: 10%;
    padding: 20px;
    color: rgb(255, 255, 255);
    background: url('icon/check-circle.svg') right 10px center / 30px no-repeat;
    /* text-decoration: none; */
    /* color: #000; */
}

.bg-color{
    background-color: #009688;
}

.bg-color-table{
    /* background-color: #0F2149; */
    background-color: #BE1622;
    
}

.top-table{
    margin-top: 30%;
} 
  
table {
    border-collapse: separate;
    border-spacing: 0px 12px;
  }
  
 

.margin-top-menengah{
    margin-top: 3%;
}

.span-insiden{
    /* border: 1px solid #BE1622; */
    /* padding: 1px 5px; */
    padding: 8px;
    /* margin-left: 195px; */
    /* border-radius: 7px; */
    color: #000000;
    margin: 5px 12px 12px 0;
    float: left;

    border: 1px solid #BE1622;
    border-radius: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    

}

/* .text-span-insiden{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
} */

.color{
    color: rgb(170, 159, 159);
}

hr{
    height: 1px;
    border-width:3px;
    color:#BE1622;
    /* background-color:#BE1622;  */
    margin-left: 12px; 
    /* margin-top: 31px; */
    
}

.sub-judul-insident{
    color: #000;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 34px;
}

.card-insident{
    background-color:#fff; 
    margin-top: 29px;
    padding: 32px 34px 36px;
    color: rgba(0, 0, 0, 0.36);
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.36);
    border-radius: 28px;
}

.card-insident-p1{
    color: #000000; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.card-insident-p2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

.color-table{
    color: #009688;
}

.judul-insident{
    color: #000;
    font-family: 'Nunito', sans-serif;
    /* font-style: normal; */
    font-weight: 900;
    font-size: 28px;
}

.color-white{
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}

.color-text-menu-tab{
    /* color: #888; */
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #262626;
}

.font-baris-tabel{
    
}

.size-font{
    font-size: 12px;
}

body{
    background-color: #131234;
}

.bg-color-card{
    background-color: #0F2149;
}

/* .center-tengah{
    align-items: center;
    background-color: #0B63DC;
    width: 40%;
} */


/* Dekstop Vertion */
@media (min-width: 992px) { 
    .nav-link{
        text-transform: uppercase;
        /* margin-right: 30px; */
    }

    /* .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    } */
}

